<!-- templates/posts/post_form.html -->
{% extends 'base.html' %}
{% block content %}
<div class="form-wrap">
    <h1>{% if post %}Tahrirlash{% else %}Yangi post{% endif %}</h1>

    <!-- enctype="multipart/form-data" — fayl yuklash uchun MAJBURIY -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
                <p class="error">⚠ {{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            {% if post %}Saqlash{% else %}Yaratish{% endif %}
        </button>
        <a href="{% url 'bosh' %}" class="btn btn-secondary">Bekor qilish</a>
    </form>
</div>
{% endblock %}